@font-face {
  font-family: "spaceagecyrillic";
  src: url("../fonts/spaceagecyrillic-regular.woff") format("woff"),
    url("../fonts/spaceagecyrillic-regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

.back-home {
  position: absolute;
  top: 50px;
  right: 50px;
}

.app {
  background: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 40px;
}

.container {
  display: flexbox;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
  font-size: 34px;
  font-family: spaceagecyrillic;
  color: white;
  padding-top: 50px;
}

.modes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
}

.mode-button {
  padding: 15px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #1f1f1f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#happy {
  background-color: #e9c46a;
}
#sad {
  background-color: #4d96ff;
}
#irritable {
  background-color: #dd896f;
}
#calm {
  background-color: #2a9d8f;
}
#sleep {
  background-color: #769ae8;
}

#happy:hover {
  background-color: #e9c46a70;
}
#sad:hover {
  background-color: #4d96ff70;
}
#irritable:hover {
  background-color: #f4a26170;
}
#calm:hover {
  background-color: #2a9d8f70;
}
#sleep:hover {
  background-color: #40557c70;
}

@media (max-width: 600px) {
  .modes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left: 20px;
  }
  h1 {
    padding-left: 20px;
  }
}